.features-section {
    background: #000;
    width: 100%;
    height: 100vh;
}

.features-container {
    position: absolute;
    width: 110%;
    height: 80vh;
    left: -285px;
    color: white;
    display: flex;
    top: 110vh;
    border-radius: 350px;
    background: #141414;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.features-container::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    /* thickness of the border */
    border-radius: 350px;
    background: linear-gradient(185deg, #12e642, #05432e);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.features-text {
    max-width: 600px;
    margin: 3rem 2rem 10rem 22rem;
}

.features-text h2 {
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 300;
}

.features-text p {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #aaa;
}

.features-cards {
    position: absolute;
    width: 558.19px;
    height: 393.69px;
    left: 1020px;
    top: 106px;

}



.glow-green {
    height: 250px;
    position: absolute;
    top: 18rem;
    left: 21.71em;
    bottom: 0%;
}

@media (max-width: 768px) {

    .features-section {
    background: #000;
    height: 120vh;
}
    .features-container {
        display: flex;
        flex-direction: row;
        width: 175%;
    }


    .features-text {
        max-width: 600px;
        margin: 3rem 1rem 10rem 20rem;
    }

    .features-text h2 {
        font-size: 1.8rem;
        max-width: 300px;
        font-weight: 400;
    }

    .features-text p {
        font-size: 0.9rem;
        line-height: 23px;
        max-width: 280px;
    }


.glow-green {
    position: relative;
    top: -30em;
    left: -39.45em;
}


.features-cards {
    position: absolute;
    width: 350px;
    height: 300px;
    left: 290px;
    top: 430px;

}

.features-cards img {
    width: 100%;
    height: 100%;
}

}