.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.glow-background {
  position: absolute;
  top: -140px;
  left: 0;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background: radial-gradient(ellipse at center,
      rgb(2, 105, 2) 0%,
      transparent 95%);
  filter: blur(40px);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding-top: 120px;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: -4px;
}

.hero p {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 40px;
  line-height: 1.6;
}

.scroll-indicator {
  position: absolute;
  width: 800px;
  height: 80px;
  margin: auto;
  display: none;
  left: -10em;
  top: 23em;
    animation: bounce 1600ms infinite alternate-reverse;
}

.circle-text {
  width: 100%;
  height: 100%;
  letter-spacing: 3.6px;
}

.circle-arrow {
  position: absolute;
  top: 31%;
  left: 49.4%;
  font-size: 24px;
  color: white;

}

@keyframes bounce {
  0% {
    transform: translateY(-1px);
  }
  100% {
    transform:  translateY(5px);
  }
}

@media (max-width: 768px) {
.hero{
   display: flex;
  justify-content: flex-start;
  width: auto;
}
  .glow-background {
    display: none;
  }

  .hero-content {
    text-align: left;
    margin-top: -300px;

  }

  .hero-button-container{
    top: 22em;
    left: -18.5em;
  }

  .hero-content h1 {
    font-size: 50px;
    max-width: 250px;
    margin-left: 5px;
    line-height: 50px;
      background: linear-gradient(180deg, #c0bdbb, #535353);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .hero-content p {
    display: none;
  }

  .scroll-indicator{
    display: inline;
  }
}