.circle-btn {
  position: absolute;
  background: #fff;
  border: none;
  font-size: 19px;
  font-weight: 500;
  border-radius: 99px;
  width: 135px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1;
}


.arrow {
    margin-left: 7px;
    margin-right: -7px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 199, 0);
    border-radius: 100%;
    padding: 9px;
      display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
}

.circle-btn:hover {
  transform: translateX(2px);
}